<header th:fragment="nav">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="nav justify-content-center"> <!-- 居中導航項目 -->
                    <a class="nav-link active" href="@{/home}">首頁</a>
                    <a class="nav-link" href="#">上傳照片</a>
                    <a class="nav-link" href="#">相簿</a>
                    <a class="nav-link" href="#">設置</a>
                </nav>
            </div>
        </div>
    </div>
</header>