th,
td{
    text-align: center !important;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    color: black;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: yellow;
}


thead tr {
    background-color: white;
    color: black;
}


.product-img {
    width: 100px;

}
/* 分頁 */
.pagination {
    margin-top: 20px;
}

.pagination ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pagination li {
    display: inline;
    margin-right: 5px;
}

.pagination li a {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
}

.pagination li a:hover {
    background-color: #f2f2f2;
}

.pagination li.active a {
    background-color: #4caf50;
    color: white;
}

.pagination li.disabled a {
    pointer-events: none;
    cursor: default;
    color: #ccc;
}
