th,
td{
    text-align: center !important;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
    color: black;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: yellow;
}


thead tr {
    background-color: white;
    color: black;
}

.product-img {
    width: 100px;
}

.product-img-change-btn{
    background: #ff9696;
    border: 0px;
    border-radius: 25px;
    color: white;
}

.productModify-Btn[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

/* 修改 */

.modify-input{
    text-align: center;
    border-radius: 25px;
}