body {
    padding-top: 20px;
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    width: 100%;
    /*height: 15vw;*/
    object-fit: cover;
}

/*  RWD  */

body {
    padding-top: 20px;
}

.card {
    margin-bottom: 20px;
}